&i2c0 {
    // compatible = "nordic,nrf-twim";
    // status = "okay";

    // clock-frequency = <I2C_BITRATE_STANDARD>;

    mysensor: mysensor@0 {
        status = "okay";
        compatible = "i2c-devices";
        reg = <0x00>;
        label = "mysensor";
    };
};

