&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";

    clock-frequency = <I2C_BITRATE_STANDARD>;

    mysensor: mysensor@4a {
        status = "okay";
        compatible = "i2c-device";
        reg = <0x4a>;

        label = "STS30";

    };
};