
// / {
//     chosen {
//         zephyr,display = &glcd;
//     };

// };

// &pinctrl {
//     i2c0_default: i2c0_default {
//         group1 {

//             psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
//                     <NRF_PSEL(TWIM_SCL, 0, 27)>;
//         };
//     };

//     i2c0_sleep: i2c0_sleep {
//         group1 {

//             psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
//                     <NRF_PSEL(TWIM_SCL, 0, 27)>;
//             low-power-enable;
//         };
//     };

// };

// compatible = "nordic,nrf-twim";
// status = "okay";
// clock-frequency = <I2C_BITRATE_FAST>;
// zephyr,concat-buf-size = <4096>;


&i2c0 {
    glcd: glcd@3e {
        compatible = "seeed,grove-lcd-rgb";
        reg = <0x3e>;
        label = "GLCD";
        status = "okay";

    };

};
